# 読み込み

In [1]:
# ライブラリ
import numpy as np
import pandas as pd

In [2]:
# データ
df_customer         = pd.read_csv('../data/customer.csv', encoding='utf-8')
df_holiday_mst      = pd.read_csv('../data/holiday_mst.csv', encoding='utf-8')
df_hotel            = pd.read_csv('../data/hotel.csv', encoding='utf-8')
df_month_mst        = pd.read_csv('../data/month_mst.csv', encoding='utf-8')
df_production_missn = pd.read_csv('../data/production_missing_num.csv', encoding='utf-8')
df_production       = pd.read_csv('../data/production.csv', encoding='utf-8')
df_reserve          = pd.read_csv('../data/reserve.csv', encoding='utf-8')

# 抽出

## カラム列指定による抽出
- loc関数：名前  
- iloc関数：indexg番号  
- ix関数：どちらでも抽出できるが非推奨

In [3]:
df_reserve.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100

In [4]:
# ①配列でカラム名を指定
df_reserve[['reserve_id', 'hotel_id']].head()

  reserve_id hotel_id
0         r1     h_75
1         r2    h_219
2         r3    h_179
3         r4    h_214
4         r5     h_16

In [5]:
# ②loc関数
df_reserve.loc[:,['reserve_id', 'hotel_id']].head()

  reserve_id hotel_id
0         r1     h_75
1         r2    h_219
2         r3    h_179
3         r4    h_214
4         r5     h_16

In [6]:
# ③不要なカラムを削除して抽出
# axis=0：行
# axis=1：列
df_reserve.drop(['reserve_id'], axis=1, inplace=False).head()

,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100

## 条件を指定して抽出する

In [7]:
# ①DFの配列内に同じDFをネストする
df_reserve[(df_reserve['checkout_date']>='2016-10-13') & (df_reserve['checkout_date']<='2016-10-14')].head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
284,r285,h_121,c_67,2016-09-27 06:13:19,2016-10-12,12:00:00,2016-10-14,4,184000
513,r514,h_74,c_120,2016-10-06 03:12:04,2016-10-11,12:30:00,2016-10-14,2,28800
1065,r1066,h_205,c_261,2016-09-14 02:57:59,2016-10-11,10:00:00,2016-10-14,4,85200
1480,r1481,h_116,c_364,2016-09-17 17:45:39,2016-10-11,11:30:00,2016-10-13,4,107200
1546,r1547,h_149,c_377,2016-09-27 08:19:24,2016-10-10,11:00:00,2016-10-13,2,153600

In [8]:
# ②loc関数
df_reserve.loc[(df_reserve['checkout_date']>='2016-10-13') & (df_reserve['checkout_date']<='2016-10-14')].head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
284,r285,h_121,c_67,2016-09-27 06:13:19,2016-10-12,12:00:00,2016-10-14,4,184000
513,r514,h_74,c_120,2016-10-06 03:12:04,2016-10-11,12:30:00,2016-10-14,2,28800
1065,r1066,h_205,c_261,2016-09-14 02:57:59,2016-10-11,10:00:00,2016-10-14,4,85200
1480,r1481,h_116,c_364,2016-09-17 17:45:39,2016-10-11,11:30:00,2016-10-13,4,107200
1546,r1547,h_149,c_377,2016-09-27 08:19:24,2016-10-10,11:00:00,2016-10-13,2,153600

In [9]:
# ③query関数
val = 2
df_reserve.query('"2016-10-13" <= checkout_date <= "2016-10-14" & people_num == @val').head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
513,r514,h_74,c_120,2016-10-06 03:12:04,2016-10-11,12:30:00,2016-10-14,2,28800
1546,r1547,h_149,c_377,2016-09-27 08:19:24,2016-10-10,11:00:00,2016-10-13,2,153600
1709,r1710,h_59,c_422,2016-09-19 04:17:25,2016-10-10,12:00:00,2016-10-13,2,148800
2203,r2204,h_82,c_549,2016-09-27 01:47:57,2016-10-10,12:00:00,2016-10-13,2,76200
3605,r3606,h_147,c_900,2016-09-28 19:13:15,2016-10-10,12:00:00,2016-10-13,2,80400

## データ値に基づかないサンプリング

In [10]:
# ①sample関数
# 抽出したい割合を指定
df_reserve.sample(frac=0.5)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
3078,r3079,h_300,c_773,2018-04-27 17:46:44,2018-04-30,12:00:00,2018-05-01,3,48900
3284,r3285,h_137,c_825,2017-07-25 20:24:45,2017-08-06,10:30:00,2017-08-09,4,74400
1789,r1790,h_132,c_443,2017-05-18 23:27:23,2017-06-09,09:00:00,2017-06-11,2,81600
1157,r1158,h_131,c_282,2016-03-20 19:42:01,2016-04-11,11:00:00,2016-04-14,4,166800
3485,r3486,h_212,c_867,2017-08-13 12:43:38,2017-08-22,11:00:00,2017-08-24,1,24600
132,r133,h_242,c_27,2016-06-15 04:53:54,2016-07-07,10:00:00,2016-07-09,1,16600
2932,r2933,h_167,c_741,2016-04-11 13:57:06,2016-04-22,11:00:00,2016-04-23,3,83700
2156,r2157,h_42,c_536,2016-05-15 11:55:24,2016-06-06,12:30:00,2016-06-09,3,101700
580,r581,h_146,c_140,2016-05-23 23:41:57,2016-06-13,12:00:00,2016-06-16,2,255600
2361,r2362,h_249,c_593,2017-06-02 07:09:51,2017-06-10,11:30:00,2017-06-12,2,194800
2249,r2250,h_1,c_561,2018-04-14 10:23:17,2018-04-30,09:30:00,2018-05-01,4,104400
1733,r1734,h_71,c_427,2016-05-05 21:17:48,2016-05-23,10:30:00,2016-05-24,1,23000
1021,r1022,h_56,c_250,2016-04-12 08:48:41,2016-05-03,09:30:00,2016-05-04,4,127600
1424,r1425,h_156,c_346,2017-06-11 09:38:48,2017-06-26,09:00:00,2017-06-28,3,110400
2736,r2737,h_191,c_690,2017-02-20 14:02:37,2017-02-27,10:30:00,2017-03-01,1,82600
2586,r2587,h_121,c_647,2016-12-08 11:03:21,2016-12-08,11:30:00,2016-12-09,3,69000
1418,r1419,h_45,c_346,2016-05-09 06:54:14,2016-05-23,11:00:00,2016-05-24,2,20000
1409,r1410,h_254,c_343,2016-09-03 07:18:07,2016-09-09,09:00:00,2016-09-12,1,15000
2760,r2761,h_254,c_696,2017-06-07 11:50:38,2017-06-14,10:30:00,2017-06-17,4,60000
3840,r3841,h_14,c_956,2018-03-08 04:56:38,2018-03-10,12:30:00,2018-03-13,3,69300
837,r838,h_292,c_203,2016-10-02 19:42:33,2016-10-18,09:00:00,2016-10-20,1,18200
3911,r3912,h_251,c_972,2017-10-07 03:12:19,2017-10-22,09:30:00,2017-10-25,1,17100
3829,r3830,h_253,c_954,2016-04-29 06:22:19,2016-05-17,11:00:00,2016-05-19,1,10400
2057,r2058,h_295,c_517,2016-04-21 15:43:10,2016-05-13,11:00:00,2016-05-15,4,44800
3062,r3063,h_79,c_770,2017-08-28 07:47:10,2017-09-16,09:30:00,2017-09-17,3,60000
437,r438,h_102,c_100,2017-01-27 03:26:39,2017-02-17,11:00:00,2017-02-20,1,18000
1226,r1227,h_132,c_300,2017-01-11 19:24:01,2017-02-06,11:00:00,2017-02-07,2,40800
2184,r2185,h_166,c_544,2016-08-21 23:18:56,2016-09-03,10:30:00,2016-09-04,3,49800
1992,r1993,h_108,c_501,2016-10-20 17:22:11,2016-10-20,09:30:00,2016-10-22,2,34400
3412,r3413,h_47,c_851,2017-06-27 01:16:05,2017-07-07,11:30:00,2017-07-08,2,23200
...,...,...,...,...,...,...,...,...,...
3235,r3236,h_81,c_814,2016-01-13 04:57:04,2016-01-29,09:30:00,2016-02-01,1,37200
3478,r3479,h_87,c_866,2017-10-19 19:21:14,2017-10-20,11:30:00,2017-10-23,2,37200
1205,r1206,h_299,c_295,2016-05-05 07:04:15,2016-05-12,10:30:00,2016-05-13,1,24200
3097,r3098,h_297,c_781,2016-04-09 21:11:27,2016-05-07,11:00:00,2016-05-09,2,120000
1073,r1074,h_287,c_262,2017-08-16 16:55:42,2017-08-16,10:30:00,2017-08-19,1,43500
1922,r1923,h_56,c_475,2016-12-15 23:19:41,2017-01-05,11:00:00,2017-01-07,3,191400
1482,r1483,h_148,c_364,2017-06-24 23:46:58,2017-07-09,10:00:00,2017-07-10,2,19600
3607,r3608,h_14,c_900,2017-03-30 12:10:51,2017-04-03,12:00:00,2017-04-05,3,46200
2048,r2049,h_273,c_515,2018-04-12 02:37:48,2018-04-16,09:30:00,2018-04-18,1,89800
3298,r3299,h_221,c_827,2017-06-20 07:13:19,2017-06-24,12:00:00,2017-06-25,4,22000
3430,r3431,h_242,c_856,2016-10-03 17:20:06,2016-10-17,10:00:00,2016-10-20,4,99600
531,r532,h_28,c_124,2017-11-18 14:07:28,2017-11-24,11:00:00,2017-11-26,1,11400
2608,r2609,h_85,c_652,2016-01-21 10:11:36,2016-02-08,11:00:00,2016-02-11,4,258000
2855,r2856,h_214,c_721,2016-02-15 11:37:36,2016-03-15,11:00:00,2016-03-16,4,194400
3692,r3693,h_284,c_919,2016-04-08 04:24:29,2016-04-15,12:30:00,2016-04-16,1,10000
2631,r2632,h_186,c_660,2016-05-26 00:33:57,2016-05-28,12:00:00,2016-05-31,1,22800
3824,r3825,h_138,c_953,2017-06-08 07:50:45,2017-06-10,10:00:00,2017-06-13,1,28800
1528,r1529,h_37,c_374,2017-01-31 12:40:53,2017-02-21,09:00:00,2017-02-22,3,75300
1529,r1530,h_173,c_374,2017-08-08 22:42:01,2017-08-27,09:30:00,2017-08-28,3,120000
3098,r3099,h_235,c_781,2016-06-06 20:58:43,2016-06-23,11:30:00,2016-06-25,2,16800
2256,r2257,h_251,c_563,2016-10-15 00:11:26,2016-10-27,09:00:00,2016-10-30,2,34200
822,r823,h_37,c_200,2017-11-02 12:19:24,2017-11-07,12:30:00,2017-11-09,1,50200
1282,r1283,h_100,c_313,2016-06-19 03:18:06,2016-07-08,09:30:00,2016-07-10,4,38400
494,r495,h_200,c_114,2017-12-02 05:31:16,2017-12-28,09:30:00,2017-12-30,2,33600
2983,r2984,h_224,c_753,2016-09-24 02:11:46,2016-10-15,09:30:00,2016-10-18,2,24000
3047,r3048,h_278,c_768,2016-10-18 02:41:45,2016-11-14,12:00:00,2016-11-15,3,31800
289,r290,h_117,c_68,2017-01-17 22:15:27,2017-01-22,10:30:00,2017-01-24,1,29400
2468,r2469,h_14,c_617,2017-03-05 17:56:54,2017-03-31,09:00:00,2017-04-01,1,7700
3566,r3567,h_13,c_885,2017-03-17 11:57:48,2017-04-13,11:00:00,2017-04-16,4,56400
2347,r2348,h_161,c_589,2016-08-09 02:10:50,2016-08-14,10:30:00,2016-08-15,1,44600

In [11]:
# ①sample関数
# 抽出したい行数を指定
df_reserve.sample(n=2015)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
3110,r3111,h_259,c_785,2016-06-25 10:47:30,2016-07-05,09:00:00,2016-07-08,3,525600
1230,r1231,h_192,c_300,2018-06-25 08:22:58,2018-07-04,12:30:00,2018-07-07,2,90000
474,r475,h_242,c_108,2018-11-07 22:19:18,2018-11-19,10:00:00,2018-11-20,1,8300
1740,r1741,h_67,c_428,2016-02-03 04:32:52,2016-02-07,10:30:00,2016-02-08,2,63600
560,r561,h_174,c_132,2016-10-19 05:00:17,2016-10-31,09:30:00,2016-11-03,3,198000
2923,r2924,h_224,c_738,2016-05-23 01:06:11,2016-05-23,09:00:00,2016-05-25,4,32000
1567,r1568,h_228,c_382,2017-02-01 12:12:01,2017-02-12,11:30:00,2017-02-14,3,46200
1634,r1635,h_260,c_401,2017-06-15 15:55:48,2017-07-08,09:30:00,2017-07-09,1,41000
3753,r3754,h_54,c_935,2016-03-20 07:05:35,2016-03-29,12:30:00,2016-04-01,4,153600
2958,r2959,h_254,c_747,2018-07-06 08:05:27,2018-07-29,12:30:00,2018-07-30,1,5000
3271,r3272,h_283,c_823,2017-03-28 15:22:30,2017-04-22,11:00:00,2017-04-25,4,243600
1410,r1411,h_104,c_343,2017-01-11 16:40:17,2017-01-29,10:00:00,2017-02-01,1,126600
2704,r2705,h_207,c_681,2018-02-23 18:49:16,2018-03-08,09:30:00,2018-03-09,3,26400
928,r929,h_35,c_228,2016-03-16 09:53:03,2016-04-09,12:30:00,2016-04-12,2,21000
2238,r2239,h_280,c_559,2016-12-24 03:18:39,2017-01-02,11:00:00,2017-01-04,2,25200
1464,r1465,h_79,c_359,2016-02-18 09:58:03,2016-02-18,09:30:00,2016-02-20,4,160000
3300,r3301,h_179,c_828,2016-04-03 12:04:32,2016-04-05,11:00:00,2016-04-06,2,11200
1378,r1379,h_6,c_337,2017-10-19 02:21:11,2017-10-26,10:00:00,2017-10-27,3,148500
3805,r3806,h_115,c_947,2016-06-09 10:35:09,2016-06-14,12:30:00,2016-06-15,4,164000
3611,r3612,h_214,c_901,2016-06-12 13:55:44,2016-06-22,11:30:00,2016-06-23,3,145800
178,r179,h_153,c_41,2017-01-02 05:32:31,2017-01-22,11:30:00,2017-01-25,2,84600
3179,r3180,h_94,c_799,2017-12-27 12:01:47,2018-01-08,11:30:00,2018-01-09,2,31400
822,r823,h_37,c_200,2017-11-02 12:19:24,2017-11-07,12:30:00,2017-11-09,1,50200
2773,r2774,h_257,c_700,2016-04-02 15:03:17,2016-04-18,09:30:00,2016-04-19,2,16000
3632,r3633,h_212,c_905,2017-02-13 11:04:57,2017-03-06,09:30:00,2017-03-09,4,147600
868,r869,h_162,c_210,2018-02-21 10:34:30,2018-03-20,11:00:00,2018-03-23,1,31500
3656,r3657,h_249,c_910,2016-07-15 08:10:54,2016-08-13,11:30:00,2016-08-16,2,292200
197,r198,h_56,c_46,2016-07-05 14:16:55,2016-07-23,12:30:00,2016-07-24,2,63800
725,r726,h_134,c_176,2016-08-27 08:53:25,2016-09-13,10:30:00,2016-09-14,1,67600
2344,r2345,h_295,c_588,2017-02-14 17:01:32,2017-02-22,09:00:00,2017-02-23,3,16800
...,...,...,...,...,...,...,...,...,...
1387,r1388,h_3,c_339,2016-10-18 09:39:47,2016-10-25,10:00:00,2016-10-28,3,371700
3920,r3921,h_100,c_975,2018-04-10 22:13:46,2018-05-04,09:00:00,2018-05-05,3,14400
1029,r1030,h_154,c_252,2016-08-24 23:26:07,2016-09-23,10:00:00,2016-09-26,2,58200
807,r808,h_141,c_196,2017-06-03 02:22:35,2017-06-03,09:00:00,2017-06-06,1,53100
2195,r2196,h_188,c_548,2016-08-13 13:35:46,2016-09-06,12:30:00,2016-09-08,3,355200
3555,r3556,h_218,c_882,2018-06-03 18:16:02,2018-06-27,11:00:00,2018-06-29,1,42000
872,r873,h_273,c_212,2017-01-12 08:54:25,2017-01-18,10:00:00,2017-01-21,3,404100
167,r168,h_178,c_36,2017-12-24 03:37:39,2018-01-16,09:30:00,2018-01-18,2,84000
1474,r1475,h_175,c_362,2016-01-08 10:26:02,2016-01-28,09:30:00,2016-01-29,2,38000
3191,r3192,h_18,c_803,2016-10-17 20:35:16,2016-11-02,10:00:00,2016-11-05,2,166800
491,r492,h_136,c_114,2017-05-28 18:51:47,2017-06-11,11:00:00,2017-06-12,4,82800
3761,r3762,h_121,c_936,2018-02-12 15:05:28,2018-03-14,11:30:00,2018-03-16,4,184000
3658,r3659,h_292,c_910,2017-02-27 13:43:54,2017-03-09,09:00:00,2017-03-10,3,27300
3118,r3119,h_258,c_787,2017-12-27 11:01:26,2018-01-08,12:00:00,2018-01-10,3,44400
1726,r1727,h_61,c_426,2016-04-24 17:10:12,2016-05-24,10:00:00,2016-05-25,3,224400
2561,r2562,h_199,c_642,2016-03-26 21:19:56,2016-04-11,09:00:00,2016-04-14,3,163800
2589,r2590,h_202,c_647,2017-12-18 09:36:42,2018-01-09,12:00:00,2018-01-10,4,58000
2604,r2605,h_173,c_650,2017-06-27 04:47:20,2017-07-10,10:30:00,2017-07-11,4,160000
721,r722,h_35,c_175,2018-07-31 18:18:21,2018-08-05,09:00:00,2018-08-07,2,14000
247,r248,h_244,c_58,2016-06-22 22:16:59,2016-06-25,11:00:00,2016-06-28,2,59400
3907,r3908,h_221,c_972,2016-04-23 13:54:17,2016-05-16,11:30:00,2016-05-18,2,22000
2892,r2893,h_106,c_728,2016-02-12 04:05:27,2016-02-19,12:00:00,2016-02-20,3,66600
3840,r3841,h_14,c_956,2018-03-08 04:56:38,2018-03-10,12:30:00,2018-03-13,3,69300
2874,r2875,h_186,c_724,2016-10-31 14:23:17,2016-11-06,11:00:00,2016-11-09,4,91200
1152,r1153,h_11,c_280,2018-03-23 11:01:14,2018-03-26,11:00:00,2018-03-27,3,112200
591,r592,h_198,c_144,2016-04-28 08:41:21,2016-05-25,09:00:00,2016-05-28,2,115800
3655,r3656,h_138,c_910,2016-03-04 01:24:10,2016-03-18,11:30:00,2016-03-19,3,28800
2945,r2946,h_144,c_745,2016-05-02 06:13:40,2016-05-30,10:00:00,2016-06-01,4,80000
3137,r3138,h_283,c_792,2017-03-23 12:11:59,2017-04-22,12:30:00,2017-04-24,3,121800
3238,r3239,h_115,c_815,2016-10-26 00:58:24,2016-11-01,09:00:00,2016-11-04,4,492000

## 集約IDに基づかないサンプリング

In [12]:
# ①query関数
target = pd.Series(df_reserve['customer_id'].unique()).sample(frac=0.5)

df_reserve.query('customer_id in @target')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400
16,r17,h_115,c_3,2016-05-10 12:20:32,2016-05-17,10:00:00,2016-05-19,2,164000
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400
18,r19,h_23,c_3,2017-01-11 22:54:09,2017-02-08,10:00:00,2017-02-10,3,390600
19,r20,h_292,c_3,2017-02-23 07:10:30,2017-03-03,11:00:00,2017-03-04,2,18200
20,r21,h_153,c_3,2017-04-06 18:12:10,2017-04-16,09:00:00,2017-04-19,3,126900
21,r22,h_12,c_3,2017-07-24 19:15:54,2017-08-08,09:00:00,2017-08-09,4,26800
22,r23,h_61,c_3,2017-12-16 23:31:04,2018-01-09,09:00:00,2018-01-12,1,224400
23,r24,h_34,c_3,2018-04-27 08:51:07,2018-05-07,09:30:00,2018-05-10,4,102000
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000
30,r31,h_143,c_4,2017-08-17 03:16:51,2017-09-14,10:30:00,2017-09-15,4,79200
31,r32,h_287,c_4,2017-11-02 19:00:21,2017-11-05,10:00:00,2017-11-07,1,29000
36,r37,h_226,c_6,2016-06-14 11:14:05,2016-06-28,11:30:00,2016-07-01,3,86400
37,r38,h_199,c_6,2016-08-14 08:19:10,2016-09-01,12:30:00,2016-09-02,4,72800
64,r65,h_221,c_11,2016-01-24 18:58:29,2016-02-19,12:30:00,2016-02-22,2,33000
65,r66,h_16,c_11,2016-07-09 18:47:35,2016-07-19,11:00:00,2016-07-22,4,272400
66,r67,h_142,c_11,2016-12-04 20:14:40,2016-12-16,11:30:00,2016-12-17,4,37200
67,r68,h_273,c_11,2017-03-25 19:06:52,2017-04-13,09:30:00,2017-04-15,4,359200
...,...,...,...,...,...,...,...,...,...
3983,r3984,h_291,c_988,2017-12-07 10:19:12,2017-12-16,10:00:00,2017-12-19,1,100500
3984,r3985,h_261,c_988,2018-02-07 22:44:53,2018-02-17,09:00:00,2018-02-19,3,61800
3985,r3986,h_224,c_988,2018-06-11 01:07:30,2018-06-17,09:30:00,2018-06-19,3,24000
3986,r3987,h_118,c_989,2016-01-20 08:45:39,2016-02-18,09:30:00,2016-02-20,3,64800
3987,r3988,h_186,c_989,2016-06-28 05:21:07,2016-07-16,12:00:00,2016-07-18,4,60800
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400
4013,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600
4015,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000
4016,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600
4017,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000
4019,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100

# 集約

In [13]:
df_reserve.groupby('hotel_id').describe().reset_index()

    hotel_id people_num                                                 \
                  count      mean       std  min   25%  50%   75%  max
0        h_1       10.0  2.600000  1.264911  1.0  1.25  3.0  3.75  4.0
1       h_10        3.0  2.666667  1.527525  1.0  2.00  3.0  3.50  4.0
2      h_100       20.0  2.700000  1.080935  1.0  2.00  3.0  4.00  4.0
3      h_101       17.0  2.411765  1.227743  1.0  1.00  3.0  3.00  4.0
4      h_102       13.0  2.769231  1.012739  1.0  2.00  3.0  3.00  4.0
5      h_103       10.0  2.900000  1.100505  1.0  2.00  3.0  4.00  4.0
6      h_104       11.0  2.000000  0.894427  1.0  1.00  2.0  3.00  3.0
7      h_105       15.0  2.466667  1.187234  1.0  1.50  2.0  3.50  4.0
8      h_106        9.0  3.000000  1.000000  1.0  3.00  3.0  4.00  4.0
9      h_107       11.0  3.000000  1.000000  1.0  2.50  3.0  4.00  4.0
10     h_108       12.0  2.583333  1.083625  1.0  2.00  2.5  3.25  4.0
11     h_109       12.0  2.583333  0.792961  1.0  2.00  3.0  3.00  4.0
12      h_11       18.0  3.055556  0.998365  1.0  2.00  3.0  4.00  4.0
13     h_110       13.0  2.923077  1.037749  1.0  3.00  3.0  4.00  4.0
14     h_111       15.0  2.266667  1.032796  1.0  1.50  2.0  3.00  4.0
15     h_112       10.0  2.900000  0.875595  2.0  2.00  3.0  3.75  4.0
16     h_113       13.0  3.307692  0.854850  1.0  3.00  3.0  4.00  4.0
17     h_114       11.0  1.727273  1.009050  1.0  1.00  1.0  2.00  4.0
18     h_115       17.0  3.000000  1.060660  1.0  2.00  3.0  4.00  4.0
19     h_116       16.0  2.312500  1.014479  1.0  1.75  2.0  3.00  4.0
20     h_117       13.0  2.692308  1.315587  1.0  1.00  3.0  4.00  4.0
21     h_118       17.0  2.117647  1.053705  1.0  1.00  2.0  3.00  4.0
22     h_119       17.0  2.882353  0.857493  1.0  2.00  3.0  3.00  4.0
23      h_12       10.0  2.800000  1.135292  1.0  2.00  2.5  4.00  4.0
24     h_120       15.0  2.200000  1.264911  1.0  1.00  2.0  3.50  4.0
25     h_121       13.0  2.769231  1.012739  1.0  2.00  3.0  4.00  4.0
26     h_122       13.0  2.769231  1.091928  1.0  2.00  3.0  4.00  4.0
27     h_123       11.0  2.636364  1.120065  1.0  2.00  3.0  3.50  4.0
28     h_124       10.0  2.400000  1.074968  1.0  2.00  2.0  3.00  4.0
29     h_125       13.0  3.000000  1.080123  1.0  2.00  3.0  4.00  4.0
..       ...        ...       ...       ...  ...   ...  ...   ...  ...
270     h_72       19.0  2.315789  1.204281  1.0  1.00  2.0  3.50  4.0
271     h_73       14.0  2.642857  1.081818  1.0  2.00  2.5  3.75  4.0
272     h_74       11.0  2.272727  0.904534  1.0  2.00  2.0  3.00  4.0
273     h_75       12.0  2.500000  1.445998  1.0  1.00  2.5  4.00  4.0
274     h_76        6.0  2.833333  1.471960  1.0  1.50  3.5  4.00  4.0
275     h_77       16.0  2.625000  1.204159  1.0  1.75  3.0  4.00  4.0
276     h_78       19.0  2.263158  1.097578  1.0  1.00  2.0  3.00  4.0
277     h_79       11.0  2.272727  1.348400  1.0  1.00  2.0  3.50  4.0
278      h_8       10.0  2.300000  1.251666  1.0  1.00  2.5  3.00  4.0
279     h_80       15.0  2.933333  1.334523  1.0  1.50  4.0  4.00  4.0
280     h_81       12.0  2.500000  1.167748  1.0  1.75  2.5  3.25  4.0
281     h_82       23.0  2.260870  1.053884  1.0  1.50  2.0  3.00  4.0
282     h_83        9.0  2.222222  0.971825  1.0  2.00  2.0  3.00  4.0
283     h_84       10.0  3.000000  0.816497  2.0  2.25  3.0  3.75  4.0
284     h_85       14.0  3.000000  1.109400  1.0  2.25  3.0  4.00  4.0
285     h_86       10.0  3.100000  0.994429  1.0  3.00  3.0  4.00  4.0
286     h_87       12.0  2.250000  1.055290  1.0  1.75  2.0  3.00  4.0
287     h_88       13.0  2.538462  1.198289  1.0  1.00  3.0  3.00  4.0
288     h_89       13.0  2.615385  1.260850  1.0  1.00  3.0  4.00  4.0
289      h_9       11.0  2.181818  1.250454  1.0  1.00  2.0  3.00  4.0
290     h_90       17.0  2.705882  1.159995  1.0  2.00  3.0  4.00  4.0
291     h_91       11.0  2.545455  1.293340  1.0  1.50  2.0  4.00  4.0
292     h_92       17.0  2.823529  1.074436  1.0  2.00  3.0  4.00  4.0
293     h_93       10.0  2.600000  1.349897  1.0  1.25  2.5  4.00  4.0
294     h_94       15.0  2.666667  1.112697  1.0  2.00  3.0  3.50  4.0
295     h_95       13.0  2.615385  1.260850  1.0  2.00  2.0  4.00  4.0
296     h_96       13.0  2.615385  0.869718  1.0  2.00  3.0  3.00  4.0
297     h_97       16.0  2.187500  1.223043  1.0  1.00  2.0  3.25  4.0
298     h_98       17.0  2.588235  1.121318  1.0  2.00  3.0  3.00  4.0
299     h_99       14.0  2.642857  1.277446  1.0  2.00  2.0  4.00  4.0

    total_price                                                              \
          count           mean            std       min       25%       50%
0          10.0  112230.000000   56449.526127   26100.0   78300.0  104400.0
1           3.0   42933.333333   28736.968061   11200.0   30800.0   50400.0
2          20.0   27600.000000   17883.835689    4800.0    9600.0   28800.0
3          17.0   75764.705882   49014.703676   14000.0   42000.0   56000.0
4          13.0   32769.230769   18912.755159   12000.0   18000.0   24000.0
5          10.0   93960.000000   59547.090609   32400.0   52650.0   64800.0
6          11.0  176472.727273  108114.689945   42200.0  105500.0  126600.0
7          15.0   48753.333333   20402.866279   20600.0   30900.0   41200.0
8           9.0  101133.333333   56719.925952   44400.0   66600.0   88800.0
9          11.0  107672.727273   53234.821140   37600.0   75200.0  112800.0
10         12.0   50166.666667   34756.486205    8600.0   17200.0   43000.0
11         12.0   49000.000000   29810.766816   10500.0   28875.0   36750.0
12         18.0  236866.666667  127637.925398   37400.0  149600.0  224400.0
13         13.0  125907.692308   76327.391998   26400.0   79200.0  105600.0
14         15.0  200560.000000  149043.870819   43600.0  109000.0  174400.0
15         10.0  152100.000000   72264.098970   78000.0  117000.0  136500.0
16         13.0  118769.230769   69963.566526   19300.0   57900.0  115800.0
17         11.0   59345.454545   45802.802614   19200.0   38400.0   38400.0
18         17.0  233941.176471  129462.576923   82000.0  164000.0  164000.0
19         16.0   64487.500000   37969.950838   13400.0   36850.0   53600.0
20         13.0   89330.769231   63641.985416   14700.0   29400.0   58800.0
21         17.0   50188.235294   32160.882341   10800.0   21600.0   43200.0
22         17.0   39211.764706   20271.589798    6600.0   19800.0   39600.0
23         10.0   41540.000000   27678.920981   13400.0   21775.0   26800.0
24         15.0  153346.666667   98239.516828   43400.0   86800.0  130200.0
25         13.0  127384.615385   61296.463277   23000.0   69000.0  138000.0
26         13.0   35561.538462   20171.454189   13400.0   20100.0   26800.0
27         11.0   35127.272727   15658.166617   16800.0   22400.0   33600.0
28         10.0  326340.000000  211658.111113  133200.0  199800.0  233100.0
29         13.0   58984.615385   33467.044640   21600.0   32400.0   43200.0
..          ...            ...            ...       ...       ...       ...
270        19.0   41352.631579   27405.643547    9700.0   19400.0   38800.0
271        14.0  110871.428571   63753.762225   39800.0   59700.0   99500.0
272        11.0   23127.272727    9061.246152    9600.0   14400.0   28800.0
273        12.0   49950.000000   33098.159795   16200.0   24300.0   36450.0
274         6.0   50600.000000   47538.279313    9200.0   13800.0   32200.0
275        16.0  226525.000000  170709.685334   44200.0   88400.0  154700.0
276        19.0   46178.947368   34955.631861   10700.0   21400.0   32100.0
277        11.0   78181.818182   64779.345754   20000.0   40000.0   60000.0
278        10.0   60760.000000   43133.467285   12400.0   24800.0   49600.0
279        15.0  159033.333333  106246.039702   36700.0   91750.0  146800.0
280        12.0   49600.000000   26960.442403   12400.0   34100.0   49600.0
281        23.0   54665.217391   33036.599659   12700.0   25400.0   50800.0
282         9.0  317911.111111  159929.144033  124400.0  186600.0  248800.0
283        10.0  175680.000000   93303.195134   48800.0  109800.0  146400.0
284        14.0  122857.142857   86177.015625   21500.0   64500.0   86000.0
285        10.0  124120.000000   78011.406573   64200.0   64200.0   85600.0
286        12.0   27383.333333   16180.225492    6200.0   17050.0   24800.0
287        13.0  123369.230769   66888.693422   24300.0   72900.0   97200.0
288        13.0   44676.923077   27934.869305    8800.0   26400.0   35200.0
289        11.0  117036.363636  110651.843841   31400.0   47100.0   62800.0
290        17.0   52235.294118   31889.515150    8000.0   16000.0   64000.0
291        11.0  238363.636364  168159.015653   92000.0  115000.0  184000.0
292        17.0  188188.235294  101113.215521   34400.0  137600.0  137600.0
293        10.0   54880.000000   37587.964977   19600.0   29400.0   39200.0
294        15.0   86873.333333   55939.692867   15700.0   47100.0   62800.0
295        13.0  275815.384615  182037.696857   43200.0  172800.0  259200.0
296        13.0   33015.384615   17774.225072    7400.0   22200.0   29600.0
297        16.0   83600.000000   73991.116584   20900.0   36575.0   62700.0
298        17.0   96723.529412   58590.896578   18900.0   56700.0   75600.0
299        14.0  128000.000000   75798.599541   44800.0   72800.0   89600.0


          75%       max
0    156600.0  208800.0
1     58800.0   67200.0
2     39600.0   57600.0
3    112000.0  168000.0
4     48000.0   72000.0
5    121500.0  194400.0
6    253200.0  379800.0
7     61800.0   82400.0
8    133200.0  199800.0
9    131600.0  225600.0
10    77400.0  103200.0
11    68250.0   94500.0
12   299200.0  448800.0
13   158400.0  316800.0
14   261600.0  523200.0
15   156000.0  312000.0
16   154400.0  231600.0
17    76800.0  153600.0
18   328000.0  492000.0
19    87100.0  120600.0
20   132300.0  176400.0
21    64800.0  129600.0
22    52800.0   79200.0
23    70350.0   80400.0
24   173600.0  347200.0
25   184000.0  207000.0
26    53600.0   80400.0
27    44800.0   67200.0
28   399600.0  799200.0
29    86400.0  129600.0
..        ...       ...
270   48500.0  116400.0
271  159200.0  238800.0
272   28800.0   38400.0
273   72900.0   97200.0
274   92000.0  110400.0
275  287300.0  530400.0
276   64200.0  128400.0
277   70000.0  240000.0
278  108500.0  111600.0
279  146800.0  440400.0
280   55800.0  111600.0
281   76200.0  152400.0
282  373200.0  559800.0
283  274500.0  292800.0
284  172000.0  258000.0
285  160500.0  256800.0
286   37200.0   55800.0
287  194400.0  218700.0
288   52800.0  105600.0
289  141300.0  376800.0
290   72000.0   96000.0
291  276000.0  552000.0
292  275200.0  412800.0
293   73500.0  117600.0
294  125600.0  188400.0
295  518400.0  518400.0
296   44400.0   66600.0
297   94050.0  250800.0
298  113400.0  226800.0
299  179200.0  268800.0

[300 rows x 17 columns]

## データ数・種類数の算出

In [14]:
# ①size関数
rcv_cnt_tb = df_reserve.groupby('hotel_id').size().reset_index()
rcv_cnt_tb.columns = ['hotel_id', 'rsv_cnt']

cus_cnt_tb = df_reserve.groupby('hotel_id')['customer_id'].nunique().reset_index()
cus_cnt_tb.rename(columns={'customer_id':'cus_cnt'}, inplace=True)

In [15]:
# ②agg関数
# 辞書型でキーにカラム名、値に集約関数名
# 集約IDがindexになっているので振りなおす
result = df_reserve.groupby('hotel_id')\
                   .agg({'reserve_id':'count','customer_id':'nunique'})\
                   .reset_index()

# カラム名をすべて指定
result.columns = ['hotel_id', 'rsv_cnt', 'cus_cnt']

In [16]:
result.head()

  hotel_id  rsv_cnt  cus_cnt
0      h_1       10       10
1     h_10        3        3
2    h_100       20       19
3    h_101       17       17
4    h_102       13       13

## 合計値の算出

In [17]:
# ①sum関数
result = df_reserve.groupby(['hotel_id', 'people_num'])['total_price']\
                   .sum().reset_index()
    
# カラム名を指定して変更する
result.rename(columns={'total_price':'price_sum'}, inplace=True)

result.head()

  hotel_id  people_num  price_sum
0      h_1           1     156600
1      h_1           2     156600
2      h_1           3     391500
3      h_1           4     417600
4     h_10           1      11200

## 極値・代表値の算出

In [18]:
# lambdaを2つ使えない
result = df_reserve.groupby('hotel_id').agg({'total_price':['var','std','min','median',lambda x:np.percentile(x,q=80),'max']}).reset_index()

result.columns = ['hotel_id', 'price_var','price_std','price_min', 'price_midian', 'price_80per', 'price_max']

result.fillna(value={'price_var':0, 'price_std':0},inplace=True)

result.head()

,hotel_id,price_var,price_std,price_min,price_midian,price_80per,price_max
0,h_1,3.186549e+09,56449.526127,26100,104400,156600,208800
1,h_10,8.258133e+08,28736.968061,11200,50400,60480,67200
2,h_100,3.198316e+08,17883.835689,4800,28800,43200,57600
3,h_101,2.402441e+09,49014.703676,14000,56000,123200,168000
4,h_102,3.576923e+08,18912.755159,12000,24000,51600,72000

## 最頻値
複数ある場合は以下のように出力される  
0  
1  
2  
・  
・

In [19]:
df_reserve['total_price'].round(-3).mode()

0    10000
1    20000
2    40000
dtype: int64

## rank関数  
Q.顧客ごとに予約日時の順位を古い順につけましょう。同じ予約日時の場合は、データ行の読み込み順に小さな順位をつけましょう。

In [20]:
# reserve_datetimeの型：文字列→timestamp
df_reserve['reserve_datetime'] = pd.to_datetime(df_reserve['reserve_datetime'],\
                                                format='%Y-%m-%d %H:%M:%S')

In [21]:
# 特徴量としてDataFrameに追加
df_reserve['log_no'] = df_reserve.groupby('customer_id')['reserve_datetime']\
                                 .rank(ascending=True, method='first')

In [22]:
df_reserve[['customer_id', 'log_no']]

     customer_id  log_no
0            c_1     1.0
1            c_1     2.0
2            c_1     3.0
3            c_1     4.0
4            c_1     5.0
5            c_1     6.0
6            c_1     7.0
7            c_1     8.0
8            c_2     1.0
9            c_2     2.0
10           c_2     3.0
11           c_2     4.0
12           c_2     5.0
13           c_2     6.0
14           c_2     7.0
15           c_2     8.0
16           c_3     1.0
17           c_3     2.0
18           c_3     3.0
19           c_3     4.0
20           c_3     5.0
21           c_3     6.0
22           c_3     7.0
23           c_3     8.0
24           c_4     1.0
25           c_4     2.0
26           c_4     3.0
27           c_4     4.0
28           c_4     5.0
29           c_4     6.0
...          ...     ...
4000       c_993     4.0
4001       c_993     5.0
4002       c_993     6.0
4003       c_993     7.0
4004       c_994     1.0
4005       c_995     1.0
4006       c_995     2.0
4007       c_995     3.0
4008       c_995     4.0
4009       c_995     5.0
4010       c_995     6.0
4011       c_995     7.0
4012       c_995     8.0
4013       c_996     1.0
4014       c_996     2.0
4015       c_996     3.0
4016       c_996     4.0
4017       c_996     5.0
4018       c_996     6.0
4019       c_996     7.0
4020       c_997     1.0
4021       c_997     2.0
4022       c_999     1.0
4023       c_999     2.0
4024       c_999     3.0
4025       c_999     4.0
4026       c_999     5.0
4027       c_999     6.0
4028      c_1000     1.0
4029      c_1000     2.0

[4030 rows x 2 columns]

## rank関数(2)
Q.ホテルごとの予約数にランキングをつける。予約数が同じ場合は、取りうる最小順位を付与する。

In [23]:
#  予約回数を計算する
rsv_cnt_tb = df_reserve.groupby('hotel_id').size().reset_index()
rsv_cnt_tb.columns = ['hotel_id', 'rsv_cnt']

# 予約回数をもとに順位を計算する
rsv_cnt_tb['rsv_cnt_rank'] = rsv_cnt_tb['rsv_cnt'].rank(ascending=False, method='min')

rsv_cnt_tb.sort_values('rsv_cnt_rank')

    hotel_id  rsv_cnt  rsv_cnt_rank
158    h_241       27           1.0
50     h_144       25           2.0
231     h_37       24           3.0
48     h_142       24           3.0
281     h_82       23           5.0
87     h_178       23           5.0
129    h_215       22           7.0
117    h_204       22           7.0
228     h_34       22           7.0
58     h_151       21          10.0
252     h_56       21          10.0
63     h_156       20          12.0
59     h_152       20          12.0
145     h_23       20          12.0
2      h_100       20          12.0
138    h_223       20          12.0
171    h_253       20          12.0
100     h_19       20          12.0
102    h_191       20          12.0
44     h_139       19          20.0
155    h_239       19          20.0
192    h_272       19          20.0
197    h_277       19          20.0
276     h_78       19          20.0
270     h_72       19          20.0
258     h_61       19          20.0
221    h_299       19          20.0
75     h_167       19          20.0
239     h_44       19          20.0
67      h_16       19          20.0
..       ...      ...           ...
207    h_286        8         268.0
32     h_128        8         268.0
47     h_141        8         268.0
57     h_150        8         268.0
60     h_153        8         268.0
130    h_216        8         268.0
90     h_180        8         268.0
233     h_39        8         268.0
123     h_21        8         268.0
141    h_226        8         268.0
167     h_25        8         268.0
113    h_200        8         268.0
144    h_229        8         268.0
99     h_189        8         268.0
98     h_188        8         268.0
89      h_18        7         286.0
219    h_297        7         286.0
238     h_43        7         286.0
183    h_264        7         286.0
159    h_242        7         286.0
178     h_26        7         286.0
176    h_258        7         286.0
199    h_279        6         293.0
274     h_76        6         293.0
65     h_158        6         293.0
254     h_58        6         293.0
33     h_129        5         297.0
78      h_17        5         297.0
46     h_140        5         297.0
1       h_10        3         300.0

[300 rows x 3 columns]

# 結合

## マスターテーブルの結合
Q. 予約テーブルとホテルテーブルを結合し、
宿泊人数が1人のビジネスホテルの予約レコードのみを取り出せ

In [24]:
# 結合前にデータを抽出し、処理を軽くする
pd.merge(df_reserve.query('people_num == 1'),
         df_hotel.query('is_business == True'),
         on='hotel_id',how='inner')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,log_no,base_price,big_area_name,small_area_name,hotel_latitude,hotel_longitude,is_business
0,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,7.0,34500,C,C-1,38.237294,140.696131,True
1,r997,h_256,c_244,2016-10-15 22:47:40,2016-10-31,10:30:00,2016-11-02,1,69000,3.0,34500,C,C-1,38.237294,140.696131,True
2,r2602,h_256,c_650,2016-05-10 00:42:56,2016-05-12,11:00:00,2016-05-14,1,69000,1.0,34500,C,C-1,38.237294,140.696131,True
3,r3738,h_256,c_930,2017-04-12 09:53:00,2017-05-08,11:30:00,2017-05-09,1,34500,4.0,34500,C,C-1,38.237294,140.696131,True
4,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,3.0,9900,G,G-4,33.595248,130.633567,True
5,r49,h_183,c_8,2017-01-25 00:25:04,2017-02-14,12:30:00,2017-02-17,1,29700,4.0,9900,G,G-4,33.595248,130.633567,True
6,r1336,h_183,c_326,2017-12-16 15:30:46,2018-01-08,09:30:00,2018-01-09,1,9900,7.0,9900,G,G-4,33.595248,130.633567,True
7,r1910,h_183,c_472,2016-10-18 10:19:33,2016-11-14,09:30:00,2016-11-17,1,29700,3.0,9900,G,G-4,33.595248,130.633567,True
8,r2656,h_183,c_669,2016-03-15 03:16:38,2016-04-13,10:30:00,2016-04-16,1,29700,1.0,9900,G,G-4,33.595248,130.633567,True
9,r2714,h_183,c_683,2016-06-29 12:37:09,2016-07-13,12:30:00,2016-07-16,1,29700,1.0,9900,G,G-4,33.595248,130.633567,True
10,r2894,h_183,c_728,2016-06-26 06:56:39,2016-07-07,10:30:00,2016-07-10,1,29700,2.0,9900,G,G-4,33.595248,130.633567,True
11,r3686,h_183,c_918,2016-02-29 23:24:34,2016-03-24,09:30:00,2016-03-26,1,19800,1.0,9900,G,G-4,33.595248,130.633567,True
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,5.0,68500,C,C-2,38.329097,140.698165,True
13,r432,h_223,c_99,2017-08-07 11:34:54,2017-08-07,12:00:00,2017-08-08,1,68500,6.0,68500,C,C-2,38.329097,140.698165,True
14,r707,h_223,c_172,2017-07-26 12:15:28,2017-07-26,10:00:00,2017-07-29,1,205500,4.0,68500,C,C-2,38.329097,140.698165,True
15,r2650,h_223,c_666,2016-11-23 13:24:28,2016-12-22,11:30:00,2016-12-25,1,205500,3.0,68500,C,C-2,38.329097,140.698165,True
16,r3178,h_223,c_799,2017-09-09 23:52:12,2017-09-27,10:00:00,2017-09-29,1,137000,6.0,68500,C,C-2,38.329097,140.698165,True
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,2.0,20400,C,C-1,38.231842,140.797268,True
18,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,2.0,20400,C,C-1,38.231842,140.797268,True
19,r656,h_132,c_157,2017-11-13 09:28:45,2017-11-24,09:00:00,2017-11-26,1,40800,5.0,20400,C,C-1,38.231842,140.797268,True
20,r3287,h_132,c_826,2016-02-24 18:08:50,2016-03-19,11:00:00,2016-03-20,1,20400,2.0,20400,C,C-1,38.231842,140.797268,True
21,r3393,h_132,c_845,2018-06-05 11:44:17,2018-06-21,10:30:00,2018-06-24,1,61200,8.0,20400,C,C-1,38.231842,140.797268,True
22,r3598,h_132,c_896,2016-06-10 20:16:20,2016-07-10,12:00:00,2016-07-11,1,20400,2.0,20400,C,C-1,38.231842,140.797268,True
23,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,1.0,13100,C,C-1,38.233985,140.795603,True
24,r884,h_277,c_214,2016-10-24 16:01:51,2016-11-04,09:00:00,2016-11-05,1,13100,3.0,13100,C,C-1,38.233985,140.795603,True
25,r1907,h_277,c_471,2016-03-02 00:19:16,2016-03-18,10:00:00,2016-03-19,1,13100,1.0,13100,C,C-1,38.233985,140.795603,True
26,r32,h_287,c_4,2017-11-02 19:00:21,2017-11-05,10:00:00,2017-11-07,1,29000,8.0,14500,G,G-4,33.596284,130.638578,True
27,r88,h_287,c_15,2017-07-25 14:18:56,2017-07-29,10:00:00,2017-08-01,1,43500,6.0,14500,G,G-4,33.596284,130.638578,True
28,r1074,h_287,c_262,2017-08-16 16:55:42,2017-08-16,10:30:00,2017-08-19,1,43500,5.0,14500,G,G-4,33.596284,130.638578,True
29,r3340,h_287,c_835,2017-11-28 19:49:13,2017-12-06,11:30:00,2017-12-07,1,14500,6.0,14500,G,G-4,33.596284,130.638578,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,r2003,h_212,c_504,2016-04-26 22:19:57,2016-05-01,12:30:00,2016-05-04,1,36900,1.0,12300,A,A-1,35.818234,139.836906,True
417,r2478,h_212,c_620,2017-03-01 09:49:55,2017-03-31,11:00:00,2017-04-03,1,36900,4.0,12300,A,A-1,35.818234,139.836906,True
418,r2613,h_212,c_652,2017-08-12 18:16:58,2017-08-28,12:00:00,2017-08-29,1,12300,5.0,12300,A,A-1,35.818234,139.836906,True
419,r3486,h_212,c_867,2017-08-13 12:43:38,2017-08-22,11:00:00,2017-08-24,1,24600,4.0,12300,A,A-1,35.818234,139.836906,True
420,r3590,h_212,c_890,2016-08-28 01:16:23,2016-09-14,12:00:00,2016-09-15,1,12300,3.0,12300,A,A-1,35.818234,139.836906,True
421,r3712,h_212,c_926,2016-06-07 23:52:52,2016-06-30,09:00:00,2016-07-01,1,12300,1.0,12300,A,A-1,35.818234,139.836906,True
422,r2147,h_30,c_533,2016-12-27 09:07:34,2017-01-10,10:00:00,2017-01-12,1,15400,2.0,7700,A,A-1,35.714166,139.837670,True
423,r3307,h_30,c_829,2017-09-24 00:47:35,2017-10-12,09:30:00,2017-10-15,1,23100,5.0,7700,A,A-1,35.714166,139.837670,True
424,r2211,h_142,c_551,2016-07-19 23:03:03,2016-08-14,10:30:00,2016-08-17,1,27900,2.0,9300,C,C-3,38.431542,140.695469,True
425,r3159,h_142,c_796,2016-08-09 18:27:04,2016-09-03,09:30:00,2016-09-04,1,9300,2.0,9300,C,C-3,38.431542,140.695469,True
426,r3650,h_142,c_909,2016-08-02 21:47:41,2016-08-31,09:00:00,2016-09-03,1,27900,3.0,9300,C,C-3,38.431542,140.695469,True
427,r2308,h_103,c_577,2017-02-03 14:19:23,2017-03-05,10:00:00,2017-03-07,1,32400,3.0,16200,D,D-1,43.057680,141.416147,True
428,r2431,h_229,c_608,2016-12-24 12:08:44,2017-01-01,12:00:00,2017-01-03,1,14800,4.0,7400,E,E-1,35.183162,136.879920,True
429,r2704,h_229,c_681,2018-01-18 22:41:28,2018-02-02,09:30:00,2018-02-04,1,14800,6.0,7400,E,E-1,35.183162,136.879920,True
430,r2462,h_276,c_616,2016-08-12 00:24:25,2016-09-01,12:30:00,2016-09-03,1,79000,2.0,39500,B,B-1,35.437891,139.595387,True
431,r3035,h_276,c_766,2016-03-24 01:05:21,2016-04-06,12:30:00,2016-04-08,1,79000,1.0,39500,B,B-1,35.437891,139.595387,True
432,r2548,h_92,c_638,2016-06-17 04:42:24,2016-06-18,10:30:00,2016-06-20,1,68800,3.0,34400,E,E-4,35.284657,136.982667,True
433,r3262,h_92,c_821,2017-02-24 03:57:05,2017-03-01,12:30:00,2017-03-02,1,34400,4.0,34400,E,E-4,35.284657,136.982667,True
434,r2614,h_96,c_652,2017-11-17 16:35:23,2017-12-08,12:00:00,2017-12-09,1,7400,6.0,7400,C,C-1,38.234896,140.792601,True
435,r2635,h_29,c_660,2017-05-21 02:18:03,2017-06-01,09:00:00,2017-06-04,1,27900,4.0,9300,C,C-1,38.236610,140.891594,True
436,r2706,h_29,c_681,2018-06-13 07:23:05,2018-07-05,10:30:00,2018-07-08,1,27900,8.0,9300,C,C-1,38.236610,140.891594,True
437,r2690,h_93,c_678,2016-01-17 08:22:32,2016-02-02,09:00:00,2016-02-04,1,19600,1.0,9800,C,C-2,38.330964,140.898433,True
438,r3202,h_93,c_805,2016-07-17 15:17:41,2016-08-06,11:30:00,2016-08-09,1,29400,2.0,9800,C,C-2,38.330964,140.898433,True
439,r3771,h_93,c_939,2016-09-27 05:50:26,2016-10-10,12:30:00,2016-10-13,1,29400,3.0,9800,C,C-2,38.330964,140.898433,True
440,r2732,h_130,c_689,2016-04-30 19:58:28,2016-05-13,12:00:00,2016-05-15,1,50400,2.0,25200,B,B-3,35.636615,139.695805,True
441,r2766,h_56,c_698,2017-04-08 16:41:45,2017-05-03,12:30:00,2017-05-06,1,95700,3.0,31900,C,C-3,38.435640,140.898354,True
442,r2983,h_56,c_753,2016-06-18 23:17:50,2016-07-13,10:00:00,2016-07-14,1,31900,3.0,31900,C,C-3,38.435640,140.898354,True
443,r2839,h_231,c_715,2016-04-06 02:51:01,2016-04-08,09:00:00,2016-04-10,1,29200,1.0,14600,A,A-3,35.914151,139.837520,True
444,r3476,h_43,c_866,2016-09-17 21:09:02,2016-10-03,09:30:00,2016-10-04,1,18100,2.0,18100,B,B-1,35.437093,139.799077,True
445,r3539,h_262,c_880,2016-11-06 08:55:35,2016-11-11,12:30:00,2016-11-14,1,57000,4.0,19000,C,C-3,38.434114,140.697486,True

## 条件別に結合するマスターテーブルを切り替え
Q. ホテルテーブルのすべてのホテルに対して、レコメンド候補のホテルを紐付けたデータを作成しましょう。レコメンド候補のホテルは、同じ小地域（small_area_nameが等しい）のホテルが20件以上ある場合は、同じ小地域のホテルをレコメンド候補とします。同じ小地域のホテルが20件に満たない場合は、同じ大地域（big_area_nameが等しい）のホテルをレコメンド候補とします。

In [25]:
# small_area_nameごとにホテル数をカウント
small_area_mst = df_hotel.groupby(['big_area_name','small_area_name'])\
                         .size().reset_index()
small_area_mst.columns =['big_area_name','small_area_name','hotel_cnt']

small_area_mst.head()

  big_area_name small_area_name  hotel_cnt
0             A             A-1         35
1             A             A-3         30
2             B             B-1         15
3             B             B-2         18
4             B             B-3         19

In [26]:
# hotel_cnt
# 20件以上：small_area_name
# 20件未満：big_area_name
small_area_mst['join_area_id'] = \
np.where(small_area_mst['hotel_cnt'] -1 >= 20,
         small_area_mst['small_area_name'],
         small_area_mst['big_area_name'])

small_area_mst.drop(['hotel_cnt','big_area_name'],axis=1,inplace=True)

small_area_mst.head()

  small_area_name join_area_id
0             A-1          A-1
1             A-3          A-3
2             B-1            B
3             B-2            B
4             B-3            B

In [27]:
# レコメンド元になるホテルにsmall_area_mstを結合することで,
# join_area_idを設定する
base_hotel_mst = pd.merge(df_hotel,small_area_mst,on='small_area_name')\
                   .loc[:,['hotel_id','join_area_id']]

base_hotel_mst.head()

  hotel_id join_area_id
0      h_1            D
1     h_79            D
2    h_125            D
3    h_127            D
4    h_129            D

In [28]:
# ガベージコレクション(必要のないメモリの解放)のためのライブラリ
import gc

del small_area_mst
gc.collect()

119

In [29]:
# レコメンド候補マスタ
recommend_hotel_mst = pd.concat([
    # join_area_id を big_area_name としたレコメンド候補
    df_hotel[['small_area_name','hotel_id']]\
        .rename(columns={'small_area_name':'join_area_id'}),
    
    df_hotel[['big_area_name','hotel_id']]\
        .rename(columns={'big_area_name':'join_area_id'})
    
])

recommend_hotel_mst.rename(columns={'hotel_id':'rec_hotel_id'},inplace=True)

recommend_hotel_mst.head()

  join_area_id rec_hotel_id
0          D-2          h_1
1          A-1          h_2
2          E-4          h_3
3          C-3          h_4
4          G-3          h_5

In [30]:
# base_hotel_mst と recommend_hotel_mst を結合し、
# レコメンド候補情報を付与
# query関数によってレコメンド候補から自分を除く
pd.merge(base_hotel_mst, recommend_hotel_mst,on='join_area_id')\
  .loc[:,['hotel_id','rec_hotel_id']]\
  .query('hotel_id != rec_hotel_id')

     hotel_id rec_hotel_id
1         h_1         h_14
2         h_1         h_22
3         h_1         h_27
4         h_1         h_40
5         h_1         h_45
6         h_1         h_77
7         h_1         h_79
8         h_1         h_85
9         h_1         h_91
10        h_1        h_103
11        h_1        h_109
12        h_1        h_119
13        h_1        h_124
14        h_1        h_125
15        h_1        h_127
16        h_1        h_129
17        h_1        h_196
18        h_1        h_218
19        h_1        h_221
20        h_1        h_261
21        h_1        h_263
22        h_1        h_265
23        h_1        h_274
24        h_1        h_275
25        h_1        h_292
26       h_79          h_1
27       h_79         h_14
28       h_79         h_22
29       h_79         h_27
30       h_79         h_40
...       ...          ...
9633    h_174        h_281
9634    h_174        h_296
9635    h_220         h_13
9636    h_220         h_58
9637    h_220         h_61
9638    h_220         h_67
9639    h_220         h_70
9640    h_220         h_78
9641    h_220         h_87
9642    h_220         h_88
9643    h_220         h_95
9644    h_220        h_106
9645    h_220        h_128
9646    h_220        h_137
9647    h_220        h_149
9648    h_220        h_163
9649    h_220        h_165
9650    h_220        h_168
9651    h_220        h_169
9652    h_220        h_172
9653    h_220        h_174
9654    h_220        h_198
9655    h_220        h_206
9656    h_220        h_211
9658    h_220        h_224
9659    h_220        h_226
9660    h_220        h_249
9661    h_220        h_271
9662    h_220        h_281
9663    h_220        h_296

[9364 rows x 2 columns]

## 過去データの結合

### n件前のデータ取得
予約テーブルのすべての行に、同じ顧客の2回前の予約金額の情報を付与しましょう。2回前の予約がない場合は、値なしとしましょう。

In [31]:
#customer_idごとにreserve_datetimeで並び替える
result = df_reserve.groupby('customer_id')\
                   .apply(lambda x:x.sort_values(by='reserve_datetime', axis=0))\
                   .reset_index(drop=True)

result.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,log_no
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,1.0
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2.0
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,3.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,4.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,5.0

In [32]:
# customer_idごとに2つ前のtotal_priceをbefore_priceとして保存
result['before_price'] = \
  pd.Series(result['total_price'].shift(periods=2))

# 欠損値を0で置換し'int64'型に変換
result['before_price'] = result['before_price'].fillna(0).astype('int64')


result.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,log_no,before_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,1.0,0
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2.0,0
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,3.0,97200
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,4.0,20600
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,5.0,33600

### 過去n件の合計値
予約テーブルのすべての行に、自身の行から2件前までの3回の合計予約金額の情報を付与しましょう。過去の予約が3回未満の場合は、値なしとしましょう。

In [33]:
df_reserve['price_sum'] = \
pd.Series(df_reserve.groupby('customer_id')\
                    .apply(lambda x:x.sort_values(by='reserve_datetime'))\
                    .loc[:,'total_price']\
                    .rolling(center=False,window=3,min_periods=3).sum()\
                    .reset_index(drop=True)
         )

df_reserve.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,log_no,price_sum
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,1.0,NaN
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2.0,NaN
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,3.0,151400.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,4.0,248600.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,5.0,296100.0

### 過去n件の平均値
予約テーブルのすべての行に、自身の行を含めないで1件前から3件前までの3回の平均予約金額の情報を付与しましょう。過去の予約が3回未満の場合は、満たない回数内で平均予約金額を計算しましょう。予約が1回もない場合は、値なしとしましょう。

In [34]:
df_reserve['price_avg'] = \
pd.Series(df_reserve.groupby('customer_id')\
          .apply(lambda x:x.sort_values(by='reserve_datetime'))
          .loc[:,'total_price']\
          .rolling(center=False,window=3,min_periods=1).mean()
          .reset_index(drop=True)
         )

df_reserve['price_avg'] = df_reserve.groupby('customer_id')['price_avg'].shift(periods=1)

df_reserve.head()

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,log_no,price_sum,price_avg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,1.0,NaN,NaN
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2.0,NaN,97200.000000
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,3.0,151400.0,58900.000000
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,4.0,248600.0,50466.666667
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,5.0,296100.0,82866.666667

### 過去n日間の合計値
予約テーブルのすべてのデータ行に対して、自身の行を含めないで同じ顧客の過去90日間の合計予約金額の情報を付与しましょう。予約が1回もない場合は0とします。

In [35]:
import pandas.tseries.offsets as offsets
import operator

df_reserve['reserve_datetime'] = \
pd.to_datetime(df_reserve['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

sum_table = \
pd.merge(df_reserve[['reserve_id','customer_id','reserve_datetime']],
         df_reserve[['customer_id','reserve_datetime','total_price']]\
         .rename(columns={'reserve_datetime':'reserve_datetime_before'}),
         on='customer_id'
         )

sum_table = \
sum_table[operator.and_(
  sum_table['reserve_datetime'] > sum_table['reserve_datetime_before'],
  sum_table['reserve_datetime'] + offsets.Day(-90) <= sum_table['reserve_datetime_before']
)].groupby('reserve_id')['total_price'].sum().reset_index()

sum_table.columns = ['reserve_id','total_price_sum']

pd.merge(df_reserve,sum_table,on='reserve_id',how='left').fillna(0)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,log_no,price_sum,price_avg,total_price_sum
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,1.0,0.0,0.000000,0.0
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600,2.0,0.0,97200.000000,0.0
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600,3.0,151400.0,58900.000000,20600.0
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400,4.0,248600.0,50466.666667,0.0
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100,5.0,296100.0,82866.666667,0.0
5,r6,h_241,c_1,2017-11-27 18:47:05,2017-12-04,12:00:00,2017-12-06,3,36000,6.0,298500.0,98700.000000,68100.0
6,r7,h_256,c_1,2017-12-29 10:38:36,2018-01-25,10:30:00,2018-01-28,1,103500,7.0,207600.0,99500.000000,36000.0
7,r8,h_241,c_1,2018-05-26 08:42:51,2018-06-08,10:00:00,2018-06-09,1,6000,8.0,145500.0,69200.000000,0.0
8,r9,h_217,c_2,2016-03-05 13:31:06,2016-03-25,09:30:00,2016-03-27,3,68400,1.0,219900.0,0.000000,0.0
9,r10,h_240,c_2,2016-06-25 09:12:22,2016-07-14,11:00:00,2016-07-17,4,320400,2.0,152400.0,73300.000000,0.0
10,r11,h_183,c_2,2016-11-19 12:49:10,2016-12-08,11:00:00,2016-12-11,1,29700,3.0,333600.0,50800.000000,0.0
11,r12,h_268,c_2,2017-05-24 10:06:21,2017-06-20,09:00:00,2017-06-21,4,81600,4.0,312800.0,111200.000000,0.0
12,r13,h_223,c_2,2017-10-19 03:03:30,2017-10-21,09:30:00,2017-10-23,1,137000,5.0,314000.0,104266.666667,0.0
13,r14,h_133,c_2,2018-02-18 05:12:58,2018-03-12,10:00:00,2018-03-15,2,75600,6.0,243800.0,104666.666667,0.0
14,r15,h_92,c_2,2018-04-19 11:25:00,2018-05-04,12:30:00,2018-05-05,2,68800,7.0,168000.0,81266.666667,75600.0
15,r16,h_135,c_2,2018-07-06 04:18:28,2018-07-08,10:00:00,2018-07-09,4,46400,8.0,203100.0,56000.000000,68800.0
16,r17,h_115,c_3,2016-05-10 12:20:32,2016-05-17,10:00:00,2016-05-19,2,164000,1.0,119700.0,0.000000,0.0
17,r18,h_132,c_3,2016-10-22 02:18:48,2016-11-12,12:00:00,2016-11-13,1,20400,2.0,123900.0,39900.000000,0.0
18,r19,h_23,c_3,2017-01-11 22:54:09,2017-02-08,10:00:00,2017-02-10,3,390600,3.0,165200.0,41300.000000,20400.0
19,r20,h_292,c_3,2017-02-23 07:10:30,2017-03-03,11:00:00,2017-03-04,2,18200,4.0,671600.0,55066.666667,390600.0
20,r21,h_153,c_3,2017-04-06 18:12:10,2017-04-16,09:00:00,2017-04-19,3,126900,5.0,697700.0,223866.666667,408800.0
21,r22,h_12,c_3,2017-07-24 19:15:54,2017-08-08,09:00:00,2017-08-09,4,26800,6.0,648100.0,232566.666667,0.0
22,r23,h_61,c_3,2017-12-16 23:31:04,2018-01-09,09:00:00,2018-01-12,1,224400,7.0,123400.0,216033.333333,0.0
23,r24,h_34,c_3,2018-04-27 08:51:07,2018-05-07,09:30:00,2018-05-10,4,102000,8.0,190900.0,41133.333333,0.0
24,r25,h_277,c_4,2016-03-28 07:17:34,2016-04-07,10:30:00,2016-04-10,1,39300,1.0,214200.0,0.000000,0.0
25,r26,h_132,c_4,2016-05-11 17:48:07,2016-06-05,11:30:00,2016-06-06,1,20400,2.0,214300.0,71400.000000,39300.0
26,r27,h_97,c_4,2016-07-08 14:10:06,2016-07-16,10:30:00,2016-07-17,2,41800,3.0,141500.0,71433.333333,20400.0
27,r28,h_119,c_4,2016-10-07 04:38:54,2016-11-04,10:00:00,2016-11-06,4,52800,4.0,65400.0,47166.666667,0.0
28,r29,h_222,c_4,2016-11-10 21:59:02,2016-11-13,12:30:00,2016-11-16,4,240000,5.0,120800.0,21800.000000,52800.0
29,r30,h_34,c_4,2017-03-14 23:02:05,2017-03-14,11:30:00,2017-03-17,2,51000,6.0,107400.0,40266.666667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4000,r4001,h_253,c_993,2017-01-20 18:50:35,2017-02-10,11:00:00,2017-02-12,1,10400,4.0,107900.0,50000.000000,0.0
4001,r4002,h_263,c_993,2017-02-20 16:13:02,2017-02-27,10:30:00,2017-02-28,3,68700,5.0,302300.0,35966.666667,10400.0
4002,r4003,h_262,c_993,2017-08-01 23:47:40,2017-08-03,10:00:00,2017-08-05,3,114000,6.0,273500.0,100766.666667,0.0
4003,r4004,h_201,c_993,2017-08-31 01:33:58,2017-09-13,09:30:00,2017-09-15,3,53400,7.0,313100.0,91166.666667,114000.0
4004,r4005,h_150,c_994,2016-03-25 11:51:26,2016-04-02,09:00:00,2016-04-03,1,25200,1.0,193100.0,0.000000,0.0
4005,r4006,h_290,c_995,2016-05-14 21:35:27,2016-06-12,10:00:00,2016-06-15,4,190800,1.0,236100.0,0.000000,0.0
4006,r4007,h_76,c_995,2016-07-11 06:45:26,2016-07-31,10:30:00,2016-08-03,4,110400,2.0,192600.0,78700.000000,190800.0
4007,r4008,h_52,c_995,2016-11-02 06:42:54,2016-11-27,12:00:00,2016-11-28,3,81300,3.0,269400.0,64200.000000,0.0
4008,r4009,h_213,c_995,2016-12-10 19:23:02,2016-12-24,12:00:00,2016-12-25,4,20800,4.0,326400.0,89800.000000,81300.0
4009,r4010,h_84,c_995,2017-02-04 02:00:05,2017-03-01,10:00:00,2017-03-04,2,146400,5.0,382500.0,108800.000000,20800.0
4010,r4011,h_137,c_995,2017-08-13 19:23:48,2017-09-07,09:30:00,2017-09-09,1,12400,6.0,212500.0,127500.000000,0.0
4011,r4012,h_54,c_995,2018-03-08 03:54:07,2018-03-20,10:30:00,2018-03-22,1,25600,7.0,248500.0,70833.333333,0.0
4012,r4013,h_13,c_995,2018-07-04 18:54:55,2018-07-04,11:00:00,2018-07-05,2,9400,8.0,179600.0,82833.333333,0.0
4013,r4014,h_27,c_996,2016-05-29 18:33:42,2016-06-11,12:00:00,2016-06-14,3,168300,1.0,184400.0,0.000000,0.0
4014,r4015,h_225,c_996,2016-12-03 21:40:17,2016-12-22,11:30:00,2016-12-23,3,21600,2.0,47400.0,61466.666667,0.0
4015,r4016,h_239,c_996,2016-12-29 02:10:09,2017-01-14,10:30:00,2017-01-16,2,226000,3.0,203300.0,15800.000000,21600.0
4016,r4017,h_96,c_996,2017-06-19 11:26:29,2017-07-05,10:30:00,2017-07-07,2,29600,4.0,199300.0,67766.666667,0.0
4017,r4018,h_204,c_996,2017-08-20 17:56:37,2017-09-06,12:30:00,2017-09-07,2,24200,5.0,415900.0,66433.333333,29600.0
4018,r4019,h_224,c_996,2017-12-10 19:39:53,2017-12-20,11:30:00,2017-12-23,3,36000,6.0,277200.0,138633.333333,0.0
4019,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,7.0,279800.0,92400.000000,0.0
4020,r4021,h_159,c_997,2016-01-08 20:30:10,2016-01-09,12:00:00,2016-01-11,2,258800,1.0,89800.0,0.000000,0.0
4021,r4022,h_172,c_997,2016-05-13 09:08:55,2016-06-06,09:30:00,2016-06-08,3,96000,2.0,115600.0,29933.333333,0.0
4022,r4023,h_4,c_999,2016-04-21 21:50:14,2016-04-22,12:00:00,2016-04-25,4,62400,1.0,350200.0,0.000000,0.0
4023,r4024,h_244,c_999,2016-10-06 18:01:34,2016-10-07,11:30:00,2016-10-09,3,59400,2.0,410200.0,116733.333333,0.0
4024,r4025,h_160,c_999,2017-03-11 11:56:05,2017-03-27,10:00:00,2017-03-30,1,37200,3.0,417200.0,136733.333333,0.0
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000,4.0,217800.0,139066.666667,0.0
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800,5.0,159000.0,72600.000000,0.0
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800,6.0,112600.0,53000.000000,0.0
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000,1.0,95000.0,0.000000,0.0
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100,2.0,132600.0,31666.666667,540000.0

## 全結合
顧客ごとに2017年1月～2017年3月の月間合計利用料金を計算しましょう。利用がない月は、0としましょう。日付はチェックイン日付を利用します。

In [36]:
import datetime
# 日付計算用ライブラリ
from dateutil.relativedelta import relativedelta

# 年月マスタの生成
month_mst = pd.DataFrame({
    'year_month':\
    # relativedelta で 2017-01-01 を x月間進める、xは0,1,2を代入
    # 2017-01-01, 2017-02-01, 2017-03-01 のリストを生成
    [(datetime.date(2017,1,1) + relativedelta(months=x)).strftime('%Y-%m')
      for x in range(0,3)]
})

# cross join のためにすべて同じ値の結合キーを準備
df_customer['join_key'] = 0
month_mst['join_key'] = 0

# df_customer と month_mst を準備した結合キーで内部結合し、全結合を実現
customer_mst = \
pd.merge(
    df_customer[['customer_id','join_key']],month_mst,on='join_key'
)

# 年月の結合キーを予約テーブルで準備
df_reserve['year_month'] = \
df_reserve['checkin_date'].apply(lambda x:pd.to_datetime(x,format='%Y-%m-%d').strftime("%Y-%m"))

# 予約レコードと結合し、合計利用金額を計算
summary_result = \
pd.merge(
    customer_mst,
    df_reserve[['customer_id','year_month','total_price']],
    on=['customer_id','year_month'],
    how='left'
).groupby(['customer_id','year_month'])['total_price'].sum().reset_index()

# 予約レコードがなかった場合の合計金額を値なしから0に変換
summary_result.fillna(0, inplace=True)

summary_result

     customer_id year_month  total_price
0            c_1    2017-01          0.0
1            c_1    2017-02          0.0
2            c_1    2017-03     194400.0
3           c_10    2017-01          0.0
4           c_10    2017-02          0.0
5           c_10    2017-03          0.0
6          c_100    2017-01          0.0
7          c_100    2017-02      18000.0
8          c_100    2017-03          0.0
9         c_1000    2017-01          0.0
10        c_1000    2017-02          0.0
11        c_1000    2017-03          0.0
12         c_101    2017-01          0.0
13         c_101    2017-02          0.0
14         c_101    2017-03     111600.0
15         c_102    2017-01          0.0
16         c_102    2017-02          0.0
17         c_102    2017-03          0.0
18         c_103    2017-01          0.0
19         c_103    2017-02          0.0
20         c_103    2017-03      25400.0
21         c_104    2017-01          0.0
22         c_104    2017-02          0.0
23         c_104    2017-03          0.0
24         c_105    2017-01          0.0
25         c_105    2017-02          0.0
26         c_105    2017-03          0.0
27         c_106    2017-01          0.0
28         c_106    2017-02          0.0
29         c_106    2017-03      85500.0
...          ...        ...          ...
2970       c_990    2017-01     146800.0
2971       c_990    2017-02          0.0
2972       c_990    2017-03          0.0
2973       c_991    2017-01          0.0
2974       c_991    2017-02          0.0
2975       c_991    2017-03          0.0
2976       c_992    2017-01      71200.0
2977       c_992    2017-02          0.0
2978       c_992    2017-03      39600.0
2979       c_993    2017-01          0.0
2980       c_993    2017-02      79100.0
2981       c_993    2017-03          0.0
2982       c_994    2017-01          0.0
2983       c_994    2017-02          0.0
2984       c_994    2017-03          0.0
2985       c_995    2017-01          0.0
2986       c_995    2017-02          0.0
2987       c_995    2017-03     146400.0
2988       c_996    2017-01     226000.0
2989       c_996    2017-02          0.0
2990       c_996    2017-03          0.0
2991       c_997    2017-01          0.0
2992       c_997    2017-02          0.0
2993       c_997    2017-03          0.0
2994       c_998    2017-01          0.0
2995       c_998    2017-02          0.0
2996       c_998    2017-03          0.0
2997       c_999    2017-01          0.0
2998       c_999    2017-02          0.0
2999       c_999    2017-03      37200.0

[3000 rows x 3 columns]

# 検証

## 交差検証
製造レコードのデータを用いて、予測モデル構築のためのデータ分割を行います。データの20％をホールドアウト検証用のテストデータとして確保し、残りのデータで交差数4の交差検証を行いましょう

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

train_x, test_x, train_y, test_y = \
    train_test_split(df_production.drop('fault_flg',axis=1),
                     df_production['fault_flg'],
                     test_size=0.2)

train_x.reset_index(inplace=True, drop=True)
test_x.reset_index(inplace=True, drop=True)
train_y.reset_index(inplace=True, drop=True)
test_y.reset_index(inplace=True, drop=True)

# 訓練データの予測対象データの行番号リストを生成する
row_no_list = list(range(len(train_y)))
print('データ数：',len(row_no_list))

# 交差検証用にデータを分割する
k_fold = KFold(n_splits=4, shuffle=True)

# 交差数分繰り返し処理(並列処理も可能な部分)
for train_cv_no, valid_cv_no, in k_fold.split(row_no_list):
    
    # 交差検証における学習データを抽出
    train_cv = train_x.iloc[train_cv_no,:]
    print(train_cv)
    
    # 交差検証における検証データを抽出
    test_cv = train_x.iloc[valid_cv_no,:]
    print(test_cv)
    
    # 機械学習モデルの学習・検証

データ数： 800
    type      length  thickness
0      D  178.108250   8.314476
1      D  182.252364  33.314305
2      B  201.200663  11.382859
3      E  258.690602  12.875048
5      A  215.373615  25.014031
6      B  116.560759   0.371585
7      C  281.703461   9.063087
9      E  123.940388   1.018462
11     C  237.925581  13.372580
12     C  202.010973  35.211647
13     E  110.243125  19.164371
14     C  201.112964  37.075186
15     D  118.991066  12.816692
16     A  184.153130  19.530491
17     B  251.869329  10.381542
18     D  106.320301   4.393135
20     D   99.087633   3.445524
21     B  135.839423  23.635717
23     B  289.433864  52.838921
24     D  161.578603  31.050071
28     A  206.412039   5.000382
29     C  276.386631  29.899611
30     C  284.238825  16.782799
31     C  296.106190   9.702763
32     E  139.847363   2.219987
33     A  152.034933  28.567297
36     A  220.102489  14.768595
38     E  125.724709   8.491794
39     D  123.128851  12.268990
40     D  150.161487  22.039022
..   ...         ...        ...
761    C  228.046408  16.601085
762    D  134.773797  26.861665
764    E  265.878251  33.734548
765    E  120.196240   7.489863
766    A  100.149319  12.850879
767    E  161.751704  11.769122
768    C  343.583303   8.526815
769    D  216.877597  21.149364
771    B  134.325845  26.459050
772    E  255.877029  39.175338
774    B  124.176166  16.714490
775    D  165.668148  17.942516
776    B  177.027687   1.991375
777    C  164.824477   2.108322
778    C  355.345284  25.315694
779    E  106.002517   8.597324
780    C  222.060118  20.157417
781    D  208.467165  33.771489
782    C  213.602359   1.402310
783    C  205.879240  24.903008
785    B  188.799550  30.222428
787    B  227.904841  25.909042
788    A   76.439252   9.011689
789    D  156.332350  20.188000
793    B  130.929839  17.081571
794    B  129.859041  14.996412
795    E  273.481971  28.997640
796    E  114.261840  16.899624
797    C  413.990045  33.215450
798    B  155.606138  17.690006

[600 rows x 3 columns]
    type      length  thickness
4      D  201.945253  23.127549
8      C  432.442523   8.052339
10     D  222.368079  42.858009
19     A  171.464543  32.557822
22     E  182.368798  29.108907
25     D  169.435969   7.330509
26     E  291.383130  34.217142
27     B  296.109080  31.477927
34     E  293.899210  14.851717
35     E  287.298333  47.547817
37     B  216.611399  23.869966
45     A  102.410837  10.769344
54     C  287.775270  20.375852
57     E  144.875658  20.563811
62     E  210.288026  26.293931
68     D  136.594800   7.387359
70     C  358.655839  62.138291
71     A  164.792796  14.013370
72     D  218.037811  11.836329
73     A   99.397049   2.012543
76     C  291.073534   5.834102
83     C  317.878047  37.934933
84     C  198.279296   5.147452
91     C  183.909932   9.479972
92     D  183.600724   9.074875
95     B  204.721159   8.174447
96     C  182.666549   1.721191
97     B  248.113695   3.189213
100    A  135.440179  14.673518
102    A  137.072748   3.885599
..   ...         ...        ...
652    E  287.101466  46.438500
653    C  197.247531  15.763158
658    B  282.735281   4.932415
661    B  241.014870  36.883844
662    D  188.809211  33.760025
664    A  101.962849  15.569730
675    E  152.945068  27.131258
676    A  180.207032  14.919319
687    C  417.160681   4.699548
691    B  253.163740  48.972494
702    E  185.660407   7.755646
704    B  192.596873  29.130977
706    D  142.887310  16.560487
721    C  211.641260  34.440495
724    B  186.704600   8.851623
726    D  169.132758  10.727561
736    A  143.534837   6.143904
738    B  227.271105  15.622443
742    C  250.314403  30.320071
756    C  440.595992  33.711735
759    C  182.678926  10.136377
763    A  174.419587  20.042367
770    A  125.579437   5.634873
773    C  427.561445   9.839886
784    A  133.481215  26.597435
786    D  206.073915  34.253864
790    E  108.464900  16.108368
791    A  187.796892   3.645562
792    E  206.648102  39.008242
799    A  143.623839  25.514987

[200 rows x 3 columns]
    type      length  thickness
0      D  178.108250   8.314476
1      D  182.252364  33.314305
2      B  201.200663  11.382859
3      E  258.690602  12.875048
4      D  201.945253  23.127549
5      A  215.373615  25.014031
6      B  116.560759   0.371585
8      C  432.442523   8.052339
9      E  123.940388   1.018462
10     D  222.368079  42.858009
11     C  237.925581  13.372580
13     E  110.243125  19.164371
14     C  201.112964  37.075186
15     D  118.991066  12.816692
16     A  184.153130  19.530491
17     B  251.869329  10.381542
18     D  106.320301   4.393135
19     A  171.464543  32.557822
22     E  182.368798  29.108907
25     D  169.435969   7.330509
26     E  291.383130  34.217142
27     B  296.109080  31.477927
30     C  284.238825  16.782799
31     C  296.106190   9.702763
32     E  139.847363   2.219987
34     E  293.899210  14.851717
35     E  287.298333  47.547817
36     A  220.102489  14.768595
37     B  216.611399  23.869966
38     E  125.724709   8.491794
..   ...         ...        ...
759    C  182.678926  10.136377
761    C  228.046408  16.601085
762    D  134.773797  26.861665
763    A  174.419587  20.042367
766    A  100.149319  12.850879
768    C  343.583303   8.526815
769    D  216.877597  21.149364
770    A  125.579437   5.634873
772    E  255.877029  39.175338
773    C  427.561445   9.839886
777    C  164.824477   2.108322
778    C  355.345284  25.315694
779    E  106.002517   8.597324
781    D  208.467165  33.771489
784    A  133.481215  26.597435
785    B  188.799550  30.222428
786    D  206.073915  34.253864
787    B  227.904841  25.909042
788    A   76.439252   9.011689
789    D  156.332350  20.188000
790    E  108.464900  16.108368
791    A  187.796892   3.645562
792    E  206.648102  39.008242
793    B  130.929839  17.081571
794    B  129.859041  14.996412
795    E  273.481971  28.997640
796    E  114.261840  16.899624
797    C  413.990045  33.215450
798    B  155.606138  17.690006
799    A  143.623839  25.514987

[600 rows x 3 columns]
    type      length  thickness
7      C  281.703461   9.063087
12     C  202.010973  35.211647
20     D   99.087633   3.445524
21     B  135.839423  23.635717
23     B  289.433864  52.838921
24     D  161.578603  31.050071
28     A  206.412039   5.000382
29     C  276.386631  29.899611
33     A  152.034933  28.567297
40     D  150.161487  22.039022
42     D  139.277278  10.255429
47     C  292.400317  15.008953
49     A  154.875473  26.928495
59     E  229.053544  27.472758
63     A  223.624289  37.563277
65     C  158.270086   2.850711
74     C  343.451100  29.262491
79     B  222.945330  28.045543
81     B  254.682709   3.066029
82     A   84.287272  14.615888
85     B  240.966340  35.455407
94     C  311.823087  17.910547
111    E  154.443926   4.139274
120    D  212.243506   4.676826
121    C  335.727841  53.289212
125    A   75.302562   8.513450
138    D   79.619041  15.476532
144    A   94.115254   0.698252
145    A  130.296255  22.731405
149    E  145.757623  16.223966
..   ...         ...        ...
684    E  228.641585   2.865263
686    B  208.598421  19.875105
692    A  215.629575  27.030301
693    E  233.539143  35.463322
701    C  436.902585  56.552468
703    A   77.415044  14.053356
710    D  113.678677   1.415156
711    A  191.716540  29.255221
713    E  208.906100  34.059908
716    D   75.504990   0.090877
718    A  196.012482  36.405093
719    C  195.117366  20.269053
729    D   88.106916   0.117865
731    A  109.181442  11.212422
739    E  135.147513  20.699157
740    C  207.090548  31.423812
743    C  277.441261  54.396142
744    C  227.553385  25.848464
750    B  280.844288   5.578748
760    B  260.354562   2.243418
764    E  265.878251  33.734548
765    E  120.196240   7.489863
767    E  161.751704  11.769122
771    B  134.325845  26.459050
774    B  124.176166  16.714490
775    D  165.668148  17.942516
776    B  177.027687   1.991375
780    C  222.060118  20.157417
782    C  213.602359   1.402310
783    C  205.879240  24.903008

[200 rows x 3 columns]
    type      length  thickness
0      D  178.108250   8.314476
1      D  182.252364  33.314305
3      E  258.690602  12.875048
4      D  201.945253  23.127549
5      A  215.373615  25.014031
7      C  281.703461   9.063087
8      C  432.442523   8.052339
9      E  123.940388   1.018462
10     D  222.368079  42.858009
12     C  202.010973  35.211647
13     E  110.243125  19.164371
14     C  201.112964  37.075186
15     D  118.991066  12.816692
16     A  184.153130  19.530491
17     B  251.869329  10.381542
18     D  106.320301   4.393135
19     A  171.464543  32.557822
20     D   99.087633   3.445524
21     B  135.839423  23.635717
22     E  182.368798  29.108907
23     B  289.433864  52.838921
24     D  161.578603  31.050071
25     D  169.435969   7.330509
26     E  291.383130  34.217142
27     B  296.109080  31.477927
28     A  206.412039   5.000382
29     C  276.386631  29.899611
33     A  152.034933  28.567297
34     E  293.899210  14.851717
35     E  287.298333  47.547817
..   ...         ...        ...
759    C  182.678926  10.136377
760    B  260.354562   2.243418
763    A  174.419587  20.042367
764    E  265.878251  33.734548
765    E  120.196240   7.489863
767    E  161.751704  11.769122
768    C  343.583303   8.526815
770    A  125.579437   5.634873
771    B  134.325845  26.459050
773    C  427.561445   9.839886
774    B  124.176166  16.714490
775    D  165.668148  17.942516
776    B  177.027687   1.991375
778    C  355.345284  25.315694
779    E  106.002517   8.597324
780    C  222.060118  20.157417
782    C  213.602359   1.402310
783    C  205.879240  24.903008
784    A  133.481215  26.597435
785    B  188.799550  30.222428
786    D  206.073915  34.253864
789    D  156.332350  20.188000
790    E  108.464900  16.108368
791    A  187.796892   3.645562
792    E  206.648102  39.008242
793    B  130.929839  17.081571
794    B  129.859041  14.996412
795    E  273.481971  28.997640
796    E  114.261840  16.899624
799    A  143.623839  25.514987

[600 rows x 3 columns]
    type      length  thickness
2      B  201.200663  11.382859
6      B  116.560759   0.371585
11     C  237.925581  13.372580
30     C  284.238825  16.782799
31     C  296.106190   9.702763
32     E  139.847363   2.219987
36     A  220.102489  14.768595
41     D   90.574679   4.105199
44     E  252.309115  35.160546
51     C  248.440451  45.693608
52     E  132.307201   6.645096
53     B  210.898583   3.948054
61     A   90.371208   8.836054
64     D  189.225781  10.336806
66     D  188.769838  13.948710
69     B  260.998386  33.117775
75     A  216.728341  19.422183
77     D  216.160579   4.589033
78     E  101.224323   8.982364
86     D  113.248493   2.199513
87     B  202.549369   7.907286
89     D  138.524491  19.979048
93     A  147.970550  25.624695
98     B  210.033164  19.307014
101    E  113.962835   7.503615
105    A   85.586517  16.913542
107    E  218.310352  39.578553
112    E  274.027383  40.241131
113    C  306.079290  23.317298
123    A  134.116302  23.867958
..   ...         ...        ...
669    B  167.972580   9.530133
679    C  282.749706  20.860544
683    A   94.744459  10.779649
690    A   86.779959   2.209400
696    D  186.830209  12.921433
697    D  107.301638  13.854582
699    C  373.654939  11.254801
714    E  277.148504  50.822664
717    B  200.142637   2.917706
723    D   98.469885   3.370529
725    A  153.125043  15.585476
728    B  276.385678  29.412459
733    B  276.877261  35.117224
735    A  178.565402  16.791548
737    A   89.431731   1.732481
748    A  179.090494  32.171630
752    D  147.599027   3.136098
755    E  232.804111   4.666496
757    D  168.630570  23.654530
761    C  228.046408  16.601085
762    D  134.773797  26.861665
766    A  100.149319  12.850879
769    D  216.877597  21.149364
772    E  255.877029  39.175338
777    C  164.824477   2.108322
781    D  208.467165  33.771489
787    B  227.904841  25.909042
788    A   76.439252   9.011689
797    C  413.990045  33.215450
798    B  155.606138  17.690006

[200 rows x 3 columns]
    type      length  thickness
2      B  201.200663  11.382859
4      D  201.945253  23.127549
6      B  116.560759   0.371585
7      C  281.703461   9.063087
8      C  432.442523   8.052339
10     D  222.368079  42.858009
11     C  237.925581  13.372580
12     C  202.010973  35.211647
19     A  171.464543  32.557822
20     D   99.087633   3.445524
21     B  135.839423  23.635717
22     E  182.368798  29.108907
23     B  289.433864  52.838921
24     D  161.578603  31.050071
25     D  169.435969   7.330509
26     E  291.383130  34.217142
27     B  296.109080  31.477927
28     A  206.412039   5.000382
29     C  276.386631  29.899611
30     C  284.238825  16.782799
31     C  296.106190   9.702763
32     E  139.847363   2.219987
33     A  152.034933  28.567297
34     E  293.899210  14.851717
35     E  287.298333  47.547817
36     A  220.102489  14.768595
37     B  216.611399  23.869966
40     D  150.161487  22.039022
41     D   90.574679   4.105199
42     D  139.277278  10.255429
..   ...         ...        ...
761    C  228.046408  16.601085
762    D  134.773797  26.861665
763    A  174.419587  20.042367
764    E  265.878251  33.734548
765    E  120.196240   7.489863
766    A  100.149319  12.850879
767    E  161.751704  11.769122
769    D  216.877597  21.149364
770    A  125.579437   5.634873
771    B  134.325845  26.459050
772    E  255.877029  39.175338
773    C  427.561445   9.839886
774    B  124.176166  16.714490
775    D  165.668148  17.942516
776    B  177.027687   1.991375
777    C  164.824477   2.108322
780    C  222.060118  20.157417
781    D  208.467165  33.771489
782    C  213.602359   1.402310
783    C  205.879240  24.903008
784    A  133.481215  26.597435
786    D  206.073915  34.253864
787    B  227.904841  25.909042
788    A   76.439252   9.011689
790    E  108.464900  16.108368
791    A  187.796892   3.645562
792    E  206.648102  39.008242
797    C  413.990045  33.215450
798    B  155.606138  17.690006
799    A  143.623839  25.514987

[600 rows x 3 columns]
    type      length  thickness
0      D  178.108250   8.314476
1      D  182.252364  33.314305
3      E  258.690602  12.875048
5      A  215.373615  25.014031
9      E  123.940388   1.018462
13     E  110.243125  19.164371
14     C  201.112964  37.075186
15     D  118.991066  12.816692
16     A  184.153130  19.530491
17     B  251.869329  10.381542
18     D  106.320301   4.393135
38     E  125.724709   8.491794
39     D  123.128851  12.268990
43     E  202.499888  12.930346
46     A  116.259632  18.229245
48     A  220.319299  26.535156
50     D  213.516900   0.405075
55     C  379.206517  24.390006
56     E  132.686974  25.042697
58     C  210.066408  37.695979
60     C  389.359693  39.328749
67     D   86.319269  16.906715
80     C  320.399548   5.250586
88     A  101.335062  12.458923
90     C  350.504816  22.834786
99     C  358.604996  25.700388
104    B  108.038854  15.539570
106    B  172.477456  33.779951
110    B  262.003823   9.144970
114    C  338.504593  21.599309
..   ...         ...        ...
705    D  223.806149  19.650766
707    A  220.036874  17.147629
708    C  436.861269   1.947844
709    A  104.915284   8.353162
712    A  119.212922  20.606935
715    A  135.927710  26.265059
720    B  198.462957  22.369868
722    E  120.047734  12.843511
727    D  118.943992   1.225019
730    D  112.498669  22.154959
732    A  125.727750   1.563807
734    A  209.624193  25.045039
741    A  201.792405   8.882872
745    A   90.057439   7.051763
746    B  144.688087   7.515626
747    E  293.477290  12.025740
749    E  282.708462  28.027088
751    B  280.774430   4.959569
753    A  104.415897  13.279129
754    A  178.602389  11.086863
758    E  206.844154  21.913649
768    C  343.583303   8.526815
778    C  355.345284  25.315694
779    E  106.002517   8.597324
785    B  188.799550  30.222428
789    D  156.332350  20.188000
793    B  130.929839  17.081571
794    B  129.859041  14.996412
795    E  273.481971  28.997640
796    E  114.261840  16.899624

[200 rows x 3 columns]

## 時系列データにおけるモデル検証用のデータ分割
月ごとのレコードデータを対象に、学習データと検証データを時間軸に対して1ヵ月ごとスライドしながら生成しましょう。学習期間は24ヵ月、検証期間は12ヵ月、スライドする期間は12ヵ月とします。

In [38]:
# 最初の学習データの開始行番号を指定
train_window_start = 0

# 最初の学習データの終了行番号を指定
train_window_end = 7

# horizonに、検証データのデータ数を指定
horizon = 2

# skipにスライドするデータを指定
skip = 2

# データ期間の月数を指定
month_num = 24

# 年月マスタの生成
df_monthly_index = pd.DataFrame({
    'year_month':\
    # relativedelta で 2017-01-01 を x月間進める
    [(datetime.date(2016,1,1) + relativedelta(months=x)).strftime('%Y-%m')
      for x in range(0,month_num)]
})

# 年月に基づいてデータを並び替える
df_monthly_index.sort_values(by='year_month')

while True:
    # 検証データの終了行番号を計算
    test_window_end = train_window_end + horizon
    
    # 行番号を指定して、元データから学習データを取得
    train = df_monthly_index[train_window_start:train_window_end]
    
    # 行番号を指定して、元データから検証データを取得
    test = df_monthly_index[train_window_end:test_window_end]
    
    
    if len(test) < horizon:
        break
    print('train：',train)
    print('test', test)
    
    # 検証データの終了番号が元データの行数以上になっているか判定
    if test_window_end >= len(df_monthly_index):
        # 全データを対象にした場合終了
        break
    
    # データをスライドさせる
    # ①学習期間を一定にするパターン
    train_window_start += skip
    train_window_end += skip
    # ②学習期間を増やしていくパターン
    #train_window_end += skip

train：   year_month
0    2016-01
1    2016-02
2    2016-03
3    2016-04
4    2016-05
5    2016-06
6    2016-07
test   year_month
7    2016-08
8    2016-09
train：   year_month
2    2016-03
3    2016-04
4    2016-05
5    2016-06
6    2016-07
7    2016-08
8    2016-09
test    year_month
9     2016-10
10    2016-11
train：    year_month
4     2016-05
5     2016-06
6     2016-07
7     2016-08
8     2016-09
9     2016-10
10    2016-11
test    year_month
11    2016-12
12    2017-01
train：    year_month
6     2016-07
7     2016-08
8     2016-09
9     2016-10
10    2016-11
11    2016-12
12    2017-01
test    year_month
13    2017-02
14    2017-03
train：    year_month
8     2016-09
9     2016-10
10    2016-11
11    2016-12
12    2017-01
13    2017-02
14    2017-03
test    year_month
15    2017-04
16    2017-05
train：    year_month
10    2016-11
11    2016-12
12    2017-01
13    2017-02
14    2017-03
15    2017-04
16    2017-05
test    year_month
17    2017-06
18    2017-07
train：    year_month
12    2017-01
13    2017-02
14    2017-03
15    2017-04
16    2017-05
17    2017-06
18    2017-07
test    year_month
19    2017-08
20    2017-09
train：    year_month
14    2017-03
15    2017-04
16    2017-05
17    2017-06
18    2017-07
19    2017-08
20    2017-09
test    year_month
21    2017-10
22    2017-11

# 生成

## オーバーサンプリング
障害が起きていない（fault_flgがFalse）レコードが927件、障害が起きている（fault_flgがTrue）レコードが73件あります。障害が起きているレコードをSMOTEを用いてオーバーサンプリングを行い、障害が起きていないレコードの件数に近づけましょう。なお、SMOTEのkパラメータは5とします。

In [51]:
from imblearn.over_sampling import SMOTE

# SMOTE関数の設定
# ratioは不均衡データにおける少ない例のデータを多い方のデータの何割まで増やすか設定
#（autoの場合は同じ数まで増やす、0.5と設定すると5割までデータを増やす）
# k_neighborsはsmoteのkパラメータ
# random_stateは乱数のseed（乱数の生成パターンの元）
sm = SMOTE(ratio='auto',k_neighbors=5,random_state=1)

# オーバーサンプリングの実行
balance_data, balance_target = \
    sm.fit_sample(df_production[['length','thickness']],
                  df_production['fault_flg'])

# 均衡データに調整されているかを確認
pd.Series(balance_target).value_counts()

True     948
False    948
dtype: int64

# 展開

## 横持ち変換
予約テーブルから、顧客／宿泊人数ごとに予約数をカウントし、行を顧客ID、列を宿泊人数、値を予約数の行列（表）に変換しましょう

In [52]:
# pivot_table関数で、横持変換と集約処理を同時実行
# aggfuncに予約数をカウントする関数を指定
pd.pivot_table(df_reserve,index='customer_id',columns='people_num',
               values='reserve_id',aggfunc=lambda x:len(x),
               fill_value=0)

people_num   1  2  3  4
customer_id
c_1          2  2  2  2
c_10         0  2  2  2
c_100        2  1  2  0
c_1000       1  0  0  1
c_101        2  1  1  1
c_102        0  1  0  0
c_103        3  1  2  2
c_104        0  0  1  1
c_105        0  1  1  0
c_106        2  1  2  0
c_107        3  0  1  1
c_108        4  3  1  0
c_109        0  1  1  1
c_11         1  2  1  4
c_110        0  1  1  0
c_111        0  1  0  0
c_112        1  2  1  2
c_113        0  0  0  1
c_114        1  3  2  2
c_118        3  0  2  1
c_119        1  1  2  4
c_12         1  1  1  0
c_120        2  2  3  1
c_121        1  0  0  1
c_122        4  1  1  0
c_124        2  4  1  1
c_125        0  0  0  2
c_126        2  0  2  0
c_128        0  3  1  3
c_129        2  1  1  1
...         .. .. .. ..
c_97         0  2  2  3
c_970        0  1  4  3
c_971        1  1  0  0
c_972        1  1  3  0
c_973        0  2  0  1
c_975        1  0  5  1
c_976        3  0  1  1
c_977        0  1  0  0
c_978        0  0  0  1
c_979        1  2  3  1
c_98         2  2  0  1
c_980        0  0  3  3
c_981        1  2  0  2
c_982        0  3  2  1
c_983        3  1  2  0
c_984        0  2  0  0
c_985        2  2  2  0
c_986        1  0  3  1
c_987        0  2  2  2
c_988        2  1  4  1
c_989        0  0  1  1
c_99         1  1  2  4
c_990        1  0  0  2
c_992        2  0  1  3
c_993        2  2  3  0
c_994        1  0  0  0
c_995        2  2  1  3
c_996        0  4  3  0
c_997        0  1  1  0
c_999        1  3  1  1

[888 rows x 4 columns]

## スーパーマトリックスへの変換

In [67]:
# スーパーマトリックスのライブラリを読み込み
from scipy.sparse import csc_matrix

# 顧客ID/宿泊人数別の予約数の表を作成
cnt_tb = \
    df_reserve\
    .groupby(['customer_id','people_num'])['reserve_id'].size()\
    .reset_index()
cnt_tb.columns = ['customer_id','people_num','rsv_cnt']

# sparseMatrixの行/列に該当する列の値をカテゴリ型に変換
customer_id = pd.Categorical(cnt_tb['customer_id'])
people_num = pd.Categorical(cnt_tb['people_num'])

csc_matrix((cnt_tb['rsv_cnt'],(customer_id.codes,people_num.codes)),
            shape=(len(customer_id.categories),len(people_num.categories)))

<888x4 sparse matrix of type '<class 'numpy.int64'>'
	with 2366 stored elements in Compressed Sparse Column format>

In [71]:
csc_matrix

scipy.sparse.csc.csc_matrix